  .border {
      border-style: null;
  }

  .border:hover {
    border-style: solid;
      border-color: magenta;
      border-width: 2px;
  }

  .cardtext {
    color: #5e5e5e;
  }

  .a {
    color: #5e5e5e;
  }

  .a:hover {
    color: blue;
  }

